# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.idea
*.DS_STORE

# --------------------------------------------
# Jupyter notebooks
# --------------------------------------------
.ipynb_checkpoints
*/.ipynb_checkpoints/*


.vscode
/Contenidos
/Ayudantías